DATABASE_URL="postgres://postgres:development@localhost/shop_sync"

MODE=""

MYSQL_DATABASE="orders"
MYSQL_USER=""
MYSQL_PASSWORD=""

AWS_ACCESS_KEY_ID=""
AWS_SECRET_ACCESS_KEY=""
AWS_AUTH_TOKEN="TOKEN"
AWS_SELLER_ID="SELLER_ID"
AWS_MARKET_PLACE_ID="MWS_MARKET_PLACE_ID"

EBAY_DEV_ID="EBAY_DEV_ID"
EBAY_APP_ID="EBAY_APP_ID"
EBAY_CERT_ID="EBAY_CERT_ID"
EBAY_AUTH_TOKEN="EBAY_AUTH_TOKEN"

AMPQ_HOST="AMPQ_HOST"
AMPQ_PORT="AMPQ_PORT"
AMPQ_USER="AMPQ_USER"
AMPQ_PASS="AMPQ_PASS"
AMPQ_VHOST="AMPQ_VHOST"

AMPQ_EXCHANGE="router"